body{
    font-family: Arial;
    text-align:center;
    background-color:#f2f2f2;
}

h1{
    color:#0078d4;
}

button{
    padding:10px;
    background:#0078d4;
    color:white;
    border:none;
    cursor:pointer;
}